*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    padding-top:80px;
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #9e8eaa,
        #494e8d,
        #0d0d1d
    );
}


.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:80px;
}

.tabs{
    width:600px;
    display:flex;
}

.tabs button:first-child{
    border-radius:18px 0 0 0;
}

.tabs button:last-child{
    border-radius:0 18px 0 0;
}

.tabs .active{
    border-bottom:3px solid white;
}

.tabs a{
    width:50%;
    border:none;
    padding:20px;
    background:#c81440;
    color:white;
    font-size:28px;
    font-weight:bold;
    cursor:pointer;
    text-decoration: none;
}

.login-box{
    width:600px;
    padding:45px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border-radius:0 0 18px 18px;
}

.login-box form{
    display:flex;
    flex-direction:column;
}

.login-box input{
    width:100%;
    padding:18px;
    margin-bottom:20px;
    border:none;
    border-radius:5px;
    font-size:18px;
}

.signin{
    width:150px;
    margin:auto;
    padding:15px;
    border:none;
    background:#d31a45;
    color:white;
    font-size:20px;
    cursor:pointer;
}

.login-box a{
    text-align:center;
    margin-top:20px;
    color:#ff4b6e;
    text-decoration:none;
}