*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#9e8eaa,#494e8d,#0d0d1d);
    padding-top:80px; /* Space for fixed navbar */
}

/* Login Box */

.login-box{
    width:600px;
    margin:40px auto;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border-radius:20px;
    padding:45px;
    box-shadow:0 10px 30px rgba(0,0,0,.3);
}

.login-box h2{
    color:white;
    text-align:center;
    font-size:48px;
    margin-bottom:35px;
}

/* Inputs */

.login-box input{
    width:100%;
    padding:18px 20px;
    margin-bottom:20px;
    border:none;
    border-radius:35px;
    background:rgba(255,255,255,.12);
    color:white;
    font-size:18px;
    outline:none;
}

.login-box input::placeholder{
    color:#e2e2e2;
}

/* Button */

.login-btn{
    width:100%;
    padding:18px;
    border:none;
    border-radius:35px;
    background:#8d3c69;
    color:white;
    font-size:22px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-btn:hover{
    background:#b65287;
}

/* Links */

.forgot,
.register{
    text-align:center;
    margin-top:20px;
    color:white;
}

.forgot a,
.register a{
    color:#ffb3d9;
    text-decoration:none;
}

.forgot a:hover,
.register a:hover{
    text-decoration:underline;
}