*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    padding-top:80px;
    min-height:100vh;
    background:linear-gradient(135deg,#9e8eaa,#494e8d,#0d0d1d);
    color:white;
}

.movie-details{
    min-height:calc(100vh - 80px);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:70px 5%;
    position:relative;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.55);
}

.container{
    position:relative;
    z-index:2;
    width:90%;
    display:flex;
    max-width:1200px;
    margin:auto; 
    gap:50px;
    padding:40px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border-radius:20px;
}

/* Poster */

.poster img{
    width:260px;
    height:380px;
    object-fit:cover;
    border-radius:15px;
}

/* Details */

.details{
    flex:1;
}

.details h1{
    font-size:48px;
    font-weight:700;
    margin-bottom:20px;
}

.rating{
    display:flex;
    gap:40px;
    margin-bottom:25px;
    font-weight:600;
}

.description{
    line-height:32px;
    font-size:17px;
    color:#ececec;
    margin-bottom:30px;
}

/* Movie Info */

.movie-info{
    margin:30px 0;
}

.info-row{
    display:flex;
    margin-bottom:16px;
}

.label{
    width:160px;
    font-weight:600;
}

.value{
    flex:1;
    color:#ddd;
}

hr{
    border:none;
    border-top:1px solid rgba(255,255,255,.2);
    margin:30px 0;
}
.trailer-buttons{
    display:flex;
    gap:20px;
    margin-top:35px;
}

.watch{
    padding:15px 35px;
    text-decoration:none;
    font-weight:bold;
    border:none;
    border-radius:30px;
    background:#8d3c69;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.watch:hover{

    background:#b25288;
}
.seat-button{
    margin-top:35px;
}

.seat-note{
    color:#ddd;
    font-size:18px;
    margin-bottom:30px;
    line-height:1.6;
    text-align:center;
}

.options{
    margin-bottom:35px;
}

.options h2{
    font-size:24px;
    margin-bottom:18px;
    color:white;
    font-weight:600;
}

.option{
    display:inline-block;
    margin-right:12px;
    margin-bottom:12px;
}

.option input{
    display:none;
}

.option span{
    padding:10px 35px;
    text-decoration:none;
    border:none;
    border-radius:30px;
    background:#8d3c69;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.option span:hover{
    background:#b65287;
    transform:translateY(-1px);
}

.option input:checked + span{
    background:#bb499b;
    color:white;
    border: 1px solid rgb(172, 172, 158);
    box-shadow:0 0 15px rgba(182,82,135,.8);
}

.select-seat{
    margin-top:40px;
    display:flex;
    justify-content:flex-end;
}

.seat-btn{
    display:flex;
    align-items:center;
    gap:10px;
    padding:15px 38px;
    border-radius:30px;
    background:#8d3c69;
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.seat-btn:hover{
    background:#b65287;
    transform:translateY(-2px);
}