nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 5%;
    background:rgba(0,0,0,.3);
    backdrop-filter:blur(8px);

    z-index:100;
}
   


.nav i{
    color:white;
    cursor:pointer;
    font-size:18px;
}
.logo{
    font-size:28px;
    font-weight:bold;
    color:#fff;
}

nav ul{
    display:flex;
    align-items:center;
    gap:35px;
    list-style:none;   /* Removes bullets */
    margin:0;
    padding:0;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-weight:500;
}
nav ul li a:hover{
    color:#d58ab5;
}

.search-box{
    display:flex;
    align-items:center;
    background:white;
    padding:0 15px;
    border-radius:25px;
    height:42px;
}

.search-box i{
    color:#666;
    margin-right:10px;
}

.search-box input{
    border:none;
    outline:none;
    background:transparent;
    font-size:15px;
    width:180px;
}
.login{
    background:#8f3668;
    color:white;
    border:none;
    padding:10px 25px;
    border-radius:25px;
    cursor:pointer;
}
