.confirmed,
.cancelled{

    display:inline-block;

    padding:8px 18px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;

    color:white;

    box-shadow:0 5px 15px rgba(0,0,0,.2);

}

.confirmed{

    background:linear-gradient(135deg,#22c55e,#16a34a);

}

.cancelled{

    background:linear-gradient(135deg,#ef4444,#dc2626);

}